<ion-content [fullscreen]="true">
  <main class="lessons-container">

    <header class="lessons-header">
      <button
        type="button"
        class="back-button"
        routerLink="/home"
      >
        ←
      </button>

      <div>
        <span class="badge">TRILHA DE APRENDIZADO</span>
        <h1>Aprenda Python</h1>
        <p>Comece do básico e avance no seu ritmo.</p>
      </div>
    </header>

    <section class="lesson-list">

      <button class="lesson-card">
        <span class="lesson-icon">🐍</span>

        <div>
          <small>AULA 01</small>
          <strong>Introdução ao Python</strong>
          <p>Entenda o que é Python e onde ele é usado.</p>
        </div>

        <span class="arrow">→</span>
      </button>

      <button class="lesson-card">
        <span class="lesson-icon">🖨️</span>

        <div>
          <small>AULA 02</small>
          <strong>Seu primeiro print()</strong>
          <p>Faça seu primeiro programa aparecer na tela.</p>
        </div>

        <span class="arrow">→</span>
      </button>

      <button class="lesson-card">
        <span class="lesson-icon">📦</span>

        <div>
          <small>AULA 03</small>
          <strong>Variáveis</strong>
          <p>Aprenda a guardar informações no seu programa.</p>
        </div>

        <span class="arrow">→</span>
      </button>

      <button class="lesson-card">
        <span class="lesson-icon">🔢</span>

        <div>
          <small>AULA 04</small>
          <strong>Tipos de dados</strong>
          <p>Conheça strings, números e valores booleanos.</p>
        </div>

        <span class="arrow">→</span>
      </button>

      <button class="lesson-card">
        <span class="lesson-icon">⌨️</span>

        <div>
          <small>AULA 05</small>
          <strong>Entrada com input()</strong>
          <p>Aprenda a receber informações do usuário.</p>
        </div>

        <span class="arrow">→</span>
      </button>

      <button class="lesson-card">
        <span class="lesson-icon">🧠</span>

        <div>
          <small>AULA 06</small>
          <strong>Condições</strong>
          <p>Use if, elif e else para criar decisões.</p>
        </div>

        <span class="arrow">→</span>
      </button>

    </section>

  </main>
</ion-content>