<ion-content [fullscreen]="true">
  <main class="home-container">

    <section class="hero">
      <div class="logo">🐍</div>

      <span class="badge">PYTHON NO BOLSO</span>

      <h1>Aprenda programação direto no seu celular</h1>

      <p>
        Descubra os fundamentos do Python de forma simples,
        visual e interativa.
      </p>
    </section>

    <section class="menu">

      <button
        type="button"
        class="menu-card primary"
        routerLink="/lessons"
      >
        <span class="icon">🖥️</span>

        <div class="feature-card">
          <h2>Começar a aprender</h2>
          <p>Aprenda Python passo a passo</p>
        </div>

        <span class="arrow">→</span>
      </button>

      <button type="button" class="menu-card" routerLink="/lessons">
        <span class="icon">🧠</span>

        <div>
          <strong>Testar conhecimentos</strong>
          <small>Faça quizzes e acompanhe seu progresso</small>
        </div>

        <span class="arrow">→</span>
      </button>

      <button type="button" class="menu-card" routerLink="/lessons/1">
        <span class="icon">🧪</span>

        <div>
          <strong>Laboratório</strong>
          <small>Experimente exemplos de código</small>
        </div>

        <span class="arrow">→</span>
      </button>

      <button type="button" class="menu-card" routerLink="/lessons">
        <span class="icon">📚</span>

        <div>
          <strong>Continue aprendendo</strong>
          <small>Ferramentas para praticar no celular</small>
        </div>

        <span class="arrow">→</span>
      </button>

    </section>

    <footer>
      Projeto de extensão universitária
    </footer>

  </main>
</ion-content>